{% extends "Layout.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">Hello {{ name }}</div>
        </div>
        <div class="row">
            {% include 'Components/Table.twig' with {'table': table} only %}
        </div>
        <div class="row">
            <div id="app" class="col col-lg-4 offset-1"></div>
            <div id="app2" class="col col-lg-4 offset-2"></div>
        </div>
    </div>

{% endblock %}

{% block title %}Testing{% endblock %}

{% block extraHeader %}<meta name="mike" about="rules">{% endblock %}

{% block extraFooter %}{% endblock %}