{% extends "Layout.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">Hello {{ name }}</div>
        </div>
        <div class="row">
            {% include 'Components/Table.twig' with {'data': table} only %}
        </div>
    </div>

{% endblock %}

{% block title %}Testing{% endblock %}

{% block extraHeader %}<meta name="mike" value="rules">{% endblock %}

{% block extraFooter %}{% endblock %}