<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block extraHeader %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/css/vendors~main.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all">
</head>
<body>

<div id="main">
    <div id="content" style="position: relative;">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="js/vendors~main.js"></script>
<script src="js/main.js"></script>
{% block extraFooter %}{% endblock %}
</body>
</html>
