<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    {% block extraHeader %}{% endblock %}
</head>
<body>

<div id="main">
    <div id="content" style="position: relative;">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{% block extraFooter %}{% endblock %}
</body>
</html>
