{% block content %}


    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            {% set row = data|first %}
            {% for key in row|keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for column in row %}
                    <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}