{% block content %}

    {% if table.success %}
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            {% set row = table.data|first %}
            {% for key in row|keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table.data %}
            <tr>
                {% for column in row %}
                    <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>Error making table: {{ table.error }}</h3>
    {% endif %}

{% endblock %}