<?php
/**
 * Project: WanushBaseGH
 * File: Config.php.example
 * Date: 24/10/2019, 12:06
 * Last Change; 24/10/2019, 10:09
 *
 * @author Michael Wanush <mike@wanush.net>
 * @copyright 2019 Michael Wanush
 */

return [
    'error_reporting' => E_ALL,
    'environment' => 'development',
    'database' => [
        'driver' => 'pdo_mysql',
        'host'   => '<localhost>',
        'user'   => '<username>',
        'pass'   => '<password>',
        'dbname' => '<database>',
        'charset'=> 'utf8'
    ]
];
